body {
    font-family: 'Source Sans Pro', sans-serif;
}

.clock {
    width: 750px;
    height: 250px;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    color: azure;
    font-size: 7rem;
    box-sizing: border-box; /* padding and border are included in the width and height */
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.min, .sec, .moment, .clock, .date {
    display: inline-block;
    padding-top: 2rem;
}

.sec {
    font-size: 1.5rem;
    float: left;
}

.ampm {
    text-align: center;
    font-size: 2.5rem;
}

.date {
    font-size: 2rem;
}